.join-sect-form {
    padding-left: 20px;
    padding-bottom: 20px;
}

.form-input {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 10rem;
    border-color: gray;
    border-radius: 5px;
    background-color: white;
}

.form-submit {
    margin-top: 10px;
    width: 5rem;
    border-color: black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.prev-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 95%;
}

.prev-submit p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
}

.prev-submit button {
    align-self: center;
    height: fit-content;
    border-color: black;
    border-radius: 5px;
    background-color: #b2e2ff;
}