.menu-bar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-bar h1 {
    padding-left: 20px;
}

.menu-nav {
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.menu-list ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu-list li {
    display: inline;
}

.menu-list a {
    text-decoration: none;
    padding: 10px;
}

body {
    margin: 0;
}

main {
    background-color: #b2e2ff;
}

.page-body {
    display: flex;
}

.page-left-content {
    float: left;
    width: 10%;
}

.page-left-content p {
    padding: 10px;
}

.page-right-content {
    float: right;
    width: 10%;
}

.page-right-content p {
    padding: 10px;
}

.page-content {
    position: relative;
    width: 80%;
    background-color: #ffffff;
}

.page-content h1 {
    padding-left: 20px;
    padding-right: 20px;
}

.page-content p {
    padding-left: 20px;
    padding-right: 20px;
}